<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4 text-center" style="font-family: 'Arial', sans-serif; background-color: #f4f4f4;">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center" style="font-size: 24px;">Leave Requests</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for leave_request in leave_requests %}
                                <li class="list-group-item">
                                    <span class="font-weight-bold">{{ leave_request.reason }}</span> - {{ leave_request.date }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ url_for('request_leave') }}" class="btn btn-primary" style="background-color: #3498db; color: #fff;">Request Leave</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
